@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "responsive";


body {
  background: white;
  font-family: 'Rondal', sans-serif;
  background: #212123;
  width: 100%;
}





.container {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  margin-bottom: 50px;
  
  #intro {
    width: 100%;
    position: relative;
    .navbar {
      position: absolute;
      display: flex;
      justify-content: space-between;
      text-align: center;
      height: 12%;
      z-index: 2;
      .logo {
        margin-left: 4rem;
        margin-top: 1.1rem;
        font-size: 2.5rem;
        h1 {
          border: 2px solid #ad987d;
          padding: 15px;
          color: #ad987d;
        }
      }
      .nav-links {
        margin-top: 2.8rem;
        margin-left: 18rem;
        a {
          margin: 0 20px;
          font-size: 1.2rem;
          color: #fff;
          text-decoration: none;
          transition: all .3s ease-in-out;
          &:hover {
            color: #9f8b74;
            padding-bottom: 10px;
            border-bottom: 2px solid #ad987d;
          }
        }
      }
      .nav-icons {
        margin-top: 2.8rem;
        margin-right: 2rem;
        margin-left: 18rem;
        a {
          margin: 0 10px;
          color: white;
          i {
            font-size: 1.2rem;
          }
        }
      }
    }
    .left {
      width: 50%;
      float: left;
      .left-bg-img {
        height: 100%;
        width: 100%;
        position: relative;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
        .layer {
        position: absolute; 
        bottom: 0; 
        background: rgb(59,59,59);
        background: linear-gradient(177deg, rgba(59,59,59,0.73) 0%, rgba(33,33,35,1) 70%);
        height: 100%;
        width: 100%;
        opacity:  1;
        }
      }
      .text-block {
        position: absolute;
        top: 200px;
        left: 60px;
        width: 40%;
        h1 {
          font-size: 3.6rem;
          color: white;
          margin-bottom: 15px;
          font-weight: 600;
        }
        p {
          margin-top: 25px;
          margin-bottom: 25px;
          color: #e1e1e1;
          font-size: 18px;
          line-height: 2;
        }
        button {
          height: 50px;
          width: 250px;
          font-size: 16px;
          background: #9f8b74;
          border: none;
          font-family: 'Rondal', sans-serif;
        }
      }
    }
    .right {
      width: 50%;
      float: left;
      .right-bg-img {
        height: 100%;
        width: 100%;
        position: relative;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
        .layer {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.75); /* Black see-through */
        height: 100%;
        width: 100%;
        opacity:  1;
        }
      }
      .text-block {
        position: absolute;
        top: 300px;
        left: 90%;
        display: flex;
        flex-direction: row;
        transform: rotate(90deg);
        a {
          color: white;
          text-decoration: none;
          font-size: 18px;
          h4 {
            margin: 0 15px;
          }
          &:hover {
            color: #ad987d;
          }
        }
      }
    }
  }
}

#about {
  height: 100vh;
  width: 100%;
  .left{
    width: 50%;
    float: left;
    .img-bg {
      height: 100%;
      width: 100%;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .layer {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.75); /* Black see-through */
        height: 100%;
        width: 100%;
        opacity:  1;
        }
    }
  }
  .right {
    width: 50%;
    float: right;
    .title-block{
      margin-left: 60px;
      display: inline-block;
      .line {
        width: 70px;
        height: 20px;
        border-top: 2px solid #ad987d;
        color: white;
        margin-right: 10px;
        display: inline-block;

      }
      h1 {
        display: inline-block;
        font-size: 3.5rem;
        color: white;
        margin-bottom: 30px;
      }
    }
    .text-block {
      margin-left: 60px;
      margin-top: 50px;
      width: 70%;
      h3 {
        color: white;
        font-size: 2.7rem;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      p {
        color: #e1e1e1;
        line-height: 1.4;
        font-size: 17px;
        margin-bottom: 40px;
      }
      button {
        margin-top: 40px;
        width: 250px;
        height: 50px;
        background: none;
        border: 1px solid #ad987d;
        border-radius: 3px;
        color: white;
        font-size: 16px;
        font-family: 'Rondal', sans-serif;
      }
    }
  }
}

#services {
  width: 100%;
  height: 100vh;
  .title-block {
    margin-left: 60px;
    margin-top: 50px;
    .line {
      width: 70px;
      height: 20px;
      border-top: 2px solid #ad987d;
      color: white;
      margin-right: 10px;
      display: inline-block;
    }
    h1 {
      display: inline-block;
      font-size: 3.5rem;
      color: white;
      margin-bottom: 50px;
    }
  }
  .left {
    width: 50%;
    height: 80%;
    float: left;
    background: #e1e1e1;
    position: relative;
    .text-block {
      position: absolute;
      top: 120px;
      margin-left: 50px;
      h3 {
        font-size: 2.8rem;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      p {
        width: 85%;
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 50px;
      }
      h5 {
        font-size: 1.8rem;
        padding-bottom: 30px;
        span {
          color: #ad987d;
        }
      }
      button {
        height: 50px;
        width: 250px;
        font-size: 16px;
        background: #9f8b74;
        border: none;
        font-family: 'Rondal', sans-serif;
      }
    }
  }
  .right {
    width: 50%;
    float: right;
    .img-bg {
      height: 100%;
      width: 100%;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: 655px;
      }
      .layer {
      position: absolute; 
      bottom: 0; 
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.75); /* Black see-through */
      height: 100%;
      width: 100%;
      opacity:  1;
      }
    }
  }
}

#team {
  width: 100%;
  height: 80vh;
  .title-block {
    margin-left: 60px;
    margin-top: 50px;
    .line {
      width: 70px;
      height: 20px;
      border-top: 2px solid #ad987d;
      color: white;
      margin-right: 10px;
      display: inline-block;
    }
    h1 {
      display: inline-block;
      font-size: 3.5rem;
      color: white;
      margin-bottom: 50px;
    }
  }
  .card-block {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    .card1 {
      margin: 0 30px;
      height: 450px;
      width: 250px;
      position: relative;
      transition: all .3s ease-in-out;
      img {
        position: absolute;
        height: 100%;
        width: 250px;
      }
      .layer {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.75); /* Black see-through */
        height: 100%;
        width: 100%;
        opacity:  1;
        }
      .text-block {
        position: absolute;
        top: 25%;
        left: 15%;
        text-align: center;
        display: none;
        h1 {
          font-size: 2rem;
          color: white;
          padding-bottom: 30px;
        }
        h5 {
          font-size: 1.2rem;
          padding-bottom: 30px;
          color: white;
        span {
          color: #ad987d;
        }
        }
      }
      button {
        top: 65%;
        left: 12%;
        position: absolute;
        height: 50px;
        width: 200px;
        border: none;
        background: #9f8b74;
        font-family: 'Rondal', sans-serif;
        border-radius: 5px;
        display: none;
      }
      &:hover .text-block{
        display: block;
      }
      &:hover button {
        display: block;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    .card2 {
      height: 100%;
      width: 200px;
      margin: 0 30px;
      height: 450px;
      width: 250px;
      position: relative;
      transition: all .3s ease-in-out;
      img {
        position: absolute;
        height: 100%;
        width: 250px;
      }
      .layer {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.75); /* Black see-through */
        height: 100%;
        width: 100%;
        opacity:  1;
        }
      .text-block {
        position: absolute;
        top: 25%;
        left: 15%;
        text-align: center;
        h1 {
          font-size: 2rem;
          color: white;
          padding-bottom: 30px;
        }
        h5 {
          font-size: 1.2rem;
          padding-bottom: 30px;
          color: white;
        span {
          color: #ad987d;
        }
        }
      }
      button {
        top: 65%;
        left: 12%;
        position: absolute;
        height: 50px;
        width: 200px;
        border: none;
        background: #9f8b74;
        font-family: 'Rondal', sans-serif;
        border-radius: 5px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    .card3 {
      height: 100%;
      width: 200px;
      margin: 0 30px;
      height: 450px;
      width: 250px;
      position: relative;
      img {
        position: absolute;
        height: 100%;
        width: 250px;
      }
      .layer {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.75); /* Black see-through */
        height: 100%;
        width: 100%;
        opacity:  1;
        }
      .text-block {
        position: absolute;
        top: 25%;
        left: 15%;
        text-align: center;
        display: none;
        h1 {
          font-size: 2rem;
          color: white;
          padding-bottom: 30px;
        }
        h5 {
          font-size: 1.2rem;
          padding-bottom: 30px;
          color: white;
        span {
          color: #ad987d;
        }
        }
      }
      button {
        top: 65%;
        left: 12%;
        position: absolute;
        height: 50px;
        width: 200px;
        border: none;
        background: #9f8b74;
        font-family: 'Rondal', sans-serif;
        border-radius: 5px;
        display: none;
      }
      &:hover .text-block{
        display: block;
      }
      &:hover button {
        display: block;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

#shop {
  width: 100%;
  height: 90vh;
  .title-block {
    margin-left: 60px;
    margin-top: 50px;
    .line {
      width: 70px;
      height: 20px;
      border-top: 2px solid #ad987d;
      color: white;
      margin-right: 10px;
      display: inline-block;
    }
    h1 {
      display: inline-block;
      font-size: 3.5rem;
      color: white;
      margin-bottom: 50px;
    }
  }
  .shop-grid {
    margin: 0 auto;
    width: 92%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    .grid1 {
      grid-area: 1 / 1 / 6 / 5;
      h1 {
        text-transform: uppercase;
        font-size: 2.6rem;
        color: white;
        margin-bottom: 30px;
      }
      p {
        width: 90%;
        color: #e1e1e1;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 50px;
      }
      button {
        margin-top: 30px;
        height: 50px;
        width: 250px;
        color: white;
        font-size: 14px;
        font-family: 'Rondal', sans-serif;
        background: none;
        border: 2px solid #ad987d;
      }
    }
    .grid2 {
      grid-area: 6 / 1 / 11 / 5;
      height: 100%;
      width: 100%;
      background: #fff;
      .item-img {
        float: right;
        width: 40%;
        height: 100%;
        margin-top: 80px;
        img {
          width: 100%;
        }
      }
      .text-block {
        float: left;
        margin-left: 20px;
        margin-top: 100px;
        h5 {
          font-size: 22px;
          color: #797777;
          margin-bottom: 15px;
        }
        h1 {
          font-size: 2.5rem;
          margin-bottom: 30px;
        }
        h2 {
          font-size: 3rem;
          color: #ad987d;
          margin-bottom: 30px;
        }
        button {
          height: 40px;
          width: 200px;
          background: #ad987d;
          border: none;
          color: white;
          font-family: 'Rondal', sans-serif;
          font-size: 16px;
        }
      }
    }
    .grid3 {
      grid-area: 1 / 5 / 6 / 8;
      height: 100%;
      width: 100%;
      background: #fff;
      .item-img {
        text-align: center;
        margin-top: 50px;
        img {
          height: 200px;
        }
      }
      .text-block {
        margin-left: 30px;
        h5 {
          color: #797777;
        }
        h1 {
          font-size: 1.6rem;
          margin-bottom: 30px;
        }
        h2 {
          font-size: 2rem;
          color: #ad987d;
          display: inline-block;
        }
        button {
          text-align: center;
          float: right;
          height: 50px;
          width: 50px;
          background: #ad987d;
          border: none;
          font-size: 18px;
          margin-top: -10px;
        }
      }
    }
    .grid4 {
      grid-area: 1 / 8 / 6 / 11;
      height: 100%;
      width: 100%;
      background: #fff;
      .item-img {
        text-align: center;
        margin-top: 50px;
        img {
          height: 200px;
        }
      }
      .text-block {
        margin-left: 30px;
        h5 {
          color: #797777;
        }
        h1 {
          font-size: 1.6rem;
          margin-bottom: 30px;
        }
        h2 {
          font-size: 2rem;
          color: #ad987d;
          display: inline-block;
        }
        button {
          text-align: center;
          float: right;
          height: 50px;
          width: 50px;
          background: #ad987d;
          border: none;
          font-size: 18px;
          margin-top: -10px;
        }
      }
    }
    .grid5 {
      grid-area: 6 / 5 / 11 / 8;
      height: 100%;
      width: 100%;
      background: #fff;
      .item-img {
        text-align: center;
        margin-top: 50px;
        img {
          height: 200px;
        }
      }
      .text-block {
        margin-left: 30px;
        h5 {
          color: #797777;
        }
        h1 {
          font-size: 1.6rem;
          margin-bottom: 30px;
        }
        h2 {
          font-size: 2rem;
          color: #ad987d;
          display: inline-block;
        }
        button {
          text-align: center;
          float: right;
          height: 50px;
          width: 50px;
          background: #ad987d;
          border: none;
          font-size: 18px;
          margin-top: -10px;
        }
      }
    }
    .grid6 {
      grid-area: 6 / 8 / 11 / 11;
      height: 100%;
      width: 100%;
      background: #fff;
      .item-img {
        text-align: center;
        margin-top: 50px;
        img {
          height: 200px;
        }
      }
      .text-block {
        margin-left: 30px;
        h5 {
          color: #797777;
        }
        h1 {
          font-size: 1.6rem;
          margin-bottom: 30px;
        }
        h2 {
          font-size: 2rem;
          color: #ad987d;
          display: inline-block;
        }
        button {
          text-align: center;
          float: right;
          height: 50px;
          width: 50px;
          background: #ad987d;
          border: none;
          font-size: 18px;
          margin-top: -10px;
        }
      }
    }
  }
}

.footer-logos {
  width: 100%;
  height: 400px;
  margin-top: 300px;
  background: #ffffff;
  .logo-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    a {
      margin: 200px 30px 0 30px;
      img {
        width: 150px;
      }
    }
  }
}

#footer {
  height: 40vh;
  width: 100%;
  .footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 60px;
    margin-top: 5%;
    .logo {
      margin-left: 9rem;
      h1 {
        font-size: 7rem;
        color: #ad987d;
        padding: 50px;
        border: 2px solid #ad987d;
      }
    }
    .text-block {
      margin-left: -3rem;
      color: #e1e1e1;
      h2 {
        font-size: 1.6rem;
        margin-bottom: 30px;
      }
      h5 {
        font-size: 1.2rem;
      }
      h6 {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
      h4 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 1.4rem;
      }
    }
    .nav-links {
      margin-right: 5rem;
      a {
        margin-right: 60px;
        text-decoration: none;
        font-size: 1.2rem;
        color: #e1e1e1;
        transition: all .3s ease-in-out;
          &:hover {
            color: #ad987d;
            padding-bottom: 10px;
            border-bottom: 2px solid #ad987d;
          }
      }
    }
  }
  .line {
    height: 2px;
    width: 81%;
    margin: 0 auto;
    background: #ad987d;
  }
}